<h2>About This Blog</h2>

<p>This blog is part of a two-part tutorial application designed to introduce Ember 2.0 to Javascript developers new to the framework.</p>

<p>It assumes no prior knowledge of Ember.js or any other MV* framework, although this knowledge may be helpful.</p>

<p>For anyone who is using Ember.js for the first time, Ember 2.0 provides a fresh start. Removing the cruft and introducing simpler syntax, Ember 2.0 will eliminate redundancy and hopefully make it easier for newcomers to learn the framework.</p>

<img src="http://emberjs.com/images/about/ember-productivity-sm_x2.png" alt=""/>

<p>In these examples, we’re going to build a very simple blog utilizing Ember-2.0, Ember-cli, Ember-data & Firebase. My aim is to create the simplest application possible in Ember 2.0 as an introduction to the framework. If you have any suggestions for this app.</p>

<hr>