<div class="menu pull-right">
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'new'}}New Post{{/link-to}}
</div>
{{#link-to 'index'}}
    <h1 id="title">My Ember 2.0 Blog</h1>
{{/link-to}}

{{outlet}}

<p>
    Portions Copyright &copy; 2015 My Ember 2.0 Blog. All Rights Reserved.
</p>