<h2>Create a New Post</h2>
<br>
<form id="NewPost">
    <p>
        <label for="post_title">Title:</label>
        {{input value=title id="post_title" placeholder="Title"}}
    </p>
    <p>
        <label for="post_author">Author: </label>
        {{input value=author id="post_author" placeholder="Author"}}
    </p>
    <p>
        <label for="post_text">Text:</label>
        {{textarea value=text id="post_text" placeholder="Content" rows="10"}}
    </p>
    <p>
        <button class="pull-right" {{action "createPost"}}>Publish</button>
    </p>
</form>

<hr>